pkgbase = waftester-bin
	pkgdesc = WAF security testing CLI — detect, benchmark, and bypass web application firewalls
	pkgver = 2.9.42
	pkgrel = 1
	url = https://waftester.com
	arch = x86_64
	arch = aarch64
	license = custom:BSL-1.1
	provides = waftester
	conflicts = waftester
	source_x86_64 = https://github.com/waftester/waftester/releases/download/v2.9.42/waftester_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 2d90f15fb245984242acfaae2d33845cea5168c1dfb93aecb728a9ffec33d8da
	source_aarch64 = https://github.com/waftester/waftester/releases/download/v2.9.42/waftester_Linux_arm64.tar.gz
	sha256sums_aarch64 = c8dfc26e1d4e308afcf009174e74b3383044dde5ce458a1b8b6334e4e5721d2b

pkgname = waftester-bin
