pkgbase = waftester-bin
	pkgdesc = WAF security testing CLI — detect, benchmark, and bypass web application firewalls
	pkgver = 2.9.30
	pkgrel = 1
	url = https://waftester.com
	arch = x86_64
	arch = aarch64
	license = custom:BSL-1.1
	provides = waftester
	conflicts = waftester
	source_x86_64 = https://github.com/waftester/waftester/releases/download/v2.9.30/waftester_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 9a111943519f79a80edf81b94b7a4d28be487c9a72b8ed4a7cbaf93d2e2eb5c0
	source_aarch64 = https://github.com/waftester/waftester/releases/download/v2.9.30/waftester_Linux_arm64.tar.gz
	sha256sums_aarch64 = 648c29fd464edb58865b886f80179d901efc1de42eb58614d5a90e9d5b85cf87

pkgname = waftester-bin
